[defaults]
inventory = inventory.yml
roles_path = roles
retry_files_enabled = false
host_key_checking = false
timeout = 30
vault_password_file = .vault_pass

[privilege_escalation]
become = true
become_method = sudo
